{% extends "base.html" %}

{% block main %}

<h2>Nuevo Registro</h2>

<form action="/save" method="post">

    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre de la persona" required>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Teléfono</label>
        <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Teléfono de la persona" required>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Fecha Nacimiento</label>
        <input type="date" name="fecha_nac" id="fecha_nac" class="form-control" placeholder="Fecha de nacimiento" required>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}